.border {
    border-radius: 30px;
    background-color: #17a2b8;
  }
  
  h1 {
    color:black;
    text-align: center;
  }
  
  h2 {
    color:blue;
  }
  
  h4 {
    color: blue;
  }
  body{
    background-color: gold;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .info{
    text-align: center;
  }
  .female{
    text-align: center;
    background-color: blanchedalmond;
    background-image: url(/images/female1.jpeg);
    background-attachment: fixed;
    background-size: auto;
    height: 300px;
    border: 10px solid black;
    margin: 10px;
  }
  ul li {
    display: inline-block;
    width: 20%;
  }
  ul li {
    display: inline-block;
    margin-left:7px;
  }
  .male{
    text-align: center;
    background-color: blanchedalmond;
    background-image: url(/images/male.jpeg);
    background-size: auto;
    height: 300px;
    width: 50%;
    border:10px solid black;
    float:left;
  }
  .text-center{
    text-align: center;
  }
  
  

  